:root { /*Global Variables*/
    --sidebar-bg-color: #52c7b7;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: clamp(220px, 25%, 280px) 1fr;
    font-family: 'Roboto', sans-serif;

}


.sidebar {
    
    background-color: #fb923c;
    display: flex;
    flex-direction: column;
    padding-top: 0.35rem;
    position: relative;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 1.1rem;
}

.sidebar li:hover {
    background-color: #fed7aa;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

main {
    display: grid;
    background-color: #ffedd5;
}

.logoContainer {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.logoContainer > img {
    height: auto;
    width: 30%;
}

.sidebar {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    padding-top: 0.35rem;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.searchContent {
    width: 50%;
    align-items: center;
}

.searchBar {
    width: 75%;
    border: 3px solid #fdba74;
    border-right: none;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    height: 34px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.searchButton {
    width: 30px;
    height: 34px;
    border: 1px solid #fdba74;
    margin-top: 10px;
    margin-left: -5px;
    padding-bottom: 5px;
    background: #fdba74;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}