:root { /*Global Variables*/
    --sidebar-bg-color: #52c7b7;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: clamp(220px, 25%, 280px) 1fr;
    font-family: 'Roboto', sans-serif;

}

.sidebar {
    
    background-color: #fb923c;
}

.main {
    display: grid;
    background-color: #ffedd5;
}

.logoContainer {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.logoContainer > img {
    height: 20%;
    width: 20%;
}